/* Carte de Bienvenue */
body {
    background: url('/static/movies/modele-cadre-courbe-bleu-ceruleen_53876-99029.jpg') no-repeat center center fixed;
    background-size: cover; /* Assurez-vous que l'image couvre tout le fond */
}

.welcome-card {
    background: linear-gradient(135deg, #69b1e0, #66ccff); /* Dégradé de bleus */
    border: none;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    color: #fff; /* Couleur du texte */
}

.welcome-card h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

/* Carte de Film */
.film-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #66ccff; /* Bordure bleue */
}

.film-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.film-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 0 0 8px; /* Coins arrondis sur les côtés */
}

.film-details {
    padding: 20px;
    flex: 1;
}

.film-actions {
    margin-top: 10px;
}

.film-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0099ff; /* Couleur du titre en bleu */
}

.film-card p {
    margin: 5px 0;
    color: #333; /* Couleur du texte */
}

/* Formulaire de Recherche et Filtrage */
.form-inline {
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-group .form-control {
    width: 100%;
    border: 1px solid #0099ff; /* Bordure bleue */
    background-color: #e6f2ff; /* Fond très léger bleu */
}

.form-group {
    margin-bottom: 1rem;
}

/* Alignement des boutons de recherche en bas */
.form-group button {
    margin-top: 1rem;
    background-color: #0099ff; /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: none;
}

.form-group button:hover {
    background-color: #007acc; /* Couleur au survol des boutons */
}

/* Color Scheme */
.bg-primary {
    background-color: #007bff !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004080;
}

/* Bouton flottant + */
.btn-floating {
    position: fixed;
    bottom: 50px; /* Ajustez la position si nécessaire */
    right: 30px;
    z-index: 10; /* Assurez-vous que ce z-index est inférieur à celui de la flèche */
    background-color: #66ccff; /* Couleur du bouton flottant */
    color: #fff; /* Couleur du texte */
}

/* Bouton Back to Top */
.btn-lg-square {
    position: fixed;
    bottom: 110px; /* Ajustez pour qu'il apparaisse au-dessus du bouton (+) */
    right: 30px;
    z-index: 1000;
    background-color: #007bff; /* Couleur du bouton "Back to Top" */
    color: #fff; /* Couleur du texte */
}

/* Menu déroulant icône */
.icon-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.icon-menu .btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.icon-menu .btn .fa-chevron-down {
    font-size: 16px; /* Ajustez la taille de la flèche si nécessaire */
    margin-left: 8px; /* Espacement entre le logo et la flèche */
    color: #333;
}

/* Styles pour le menu déroulant */
.dropdown-menu {
    background-color: #343a40; /* Couleur de fond pour le menu déroulant */
}

.dropdown-item {
    color: #ffffff; /* Couleur du texte des éléments du menu */
}

.dropdown-item:hover {
    background-color: #6a93bb; /* Couleur de fond lors du survol */
}

.icon-menu .btn .fa-user {
    color: #333;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid #333; /* Changez la couleur ici */
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

